<div class="layout-row row">
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.call.sign.placeholder')
      options=aircraft
      selected=flight.aircraft
      onChange=(action 'updateFlight' 'aircraft')
      class="cell"
      as |aircraft|}}
      {{aircraft.callSign}}
    {{/paper-select}}
  </div>
  <div class="flex"/>
</div>

<div class="layout-row row">
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.pilot.1')
      options=pilots
      selected=flight.pilot1
      searchEnabled=true
      searchField='name'
      onChange=(action 'updateFlight' 'pilot1')
      class="cell"
      as |pilot|}}
      {{pilot.name}}
    {{/paper-select}}
  </div>
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.pilot.role')
      options=pilotRoles
      selected=flight.pilot1Role
      onChange=(action 'updateFlight' 'pilot1Role')
      class="cell"
      as |pilotRole|}}
     {{t pilotRole.i18n}}
    {{/paper-select}}
  </div>
</div>

{{#if (is-twinseater flight.aircraft)}}
<div class="layout-row row">
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.pilot.2')
      options=pilots
      selected=flight.pilot2
      searchEnabled=true
      searchField='name'
      onChange=(action 'updateFlight' 'pilot2')
      class="cell"
      as |pilot|}}
      {{pilot.name}}
    {{/paper-select}}
  </div>
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.pilot.role')
      options=pilotRoles
      selected=flight.pilot2Role
      onChange=(action 'updateFlight' 'pilot2Role')
      class="cell"
      as |pilotRole|}}
     {{t pilotRole.i18n}}
    {{/paper-select}}
  </div>
</div>
{{/if}}

<div class="layout-row row">
  <div class="flex">
    {{time-input
      time=flight.startTime
      onValid=(action 'updateFlight' 'startTime')
      placeholder='flight.start.time.placeholder'
      missing=(t 'flight.start.time.missing')
      invalid=(t 'flight.start.time.invalid')
      class="cell"
    }}
  </div>
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.start.location.placeholder')
      options=locations
      selected=flight.startLocation
      onChange=(action 'updateFlight' 'startLocation')
      class="cell"
      as |location|}}
      {{location.name}}
    {{/paper-select}}
  </div>
</div>

<div class="layout-row row">
  <div class="flex">
    {{time-input
      time=flight.landingTime
      onValid=(action 'updateFlight' 'landingTime')
      placeholder='flight.landing.time.placeholder'
      missing=(t 'flight.landing.time.missing')
      invalid=(t 'flight.landing.time.invalid')
      class="cell"
    }}
  </div>
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.landing.location.placeholder')
      options=locations
      selected=flight.landingLocation
      onChange=(action 'updateFlight' 'landingLocation')
      class="cell"
      as |location|}}
      {{location.name}}
    {{/paper-select}}
  </div>
</div>

{{#if flight.aircraft.needsTowing}}
<div class="layout-row row">
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.call.sign.tow.plane')
      options=towPlanes
      selected=flight.towPlane
      onChange=(action 'updateFlight' 'towPlane')
      class="cell"
      as |aircraft|}}
      {{aircraft.callSign}}
    {{/paper-select}}
  </div>
  <div class="flex">
    {{#paper-select
      placeholder=(t 'flight.tow.pilot')
      options=towPilots
      selected=flight.towPilot
      searchEnabled=true
      searchField='name'
      onChange=(action 'updateFlight' 'towPilot')
      class="cell"
      as |towPilot|}}
      {{towPilot.name}}
    {{/paper-select}}
  </div>
</div>
<div class="layout-row row">
  <div class="flex-50">
    {{time-input
      time=flight.towPlaneLandingTime
      onValid=(action 'updateFlight' 'towPlaneLandingTime')
      placeholder='flight.landing.time.placeholder'
      missing=(t 'flight.landing.time.missing')
      invalid=(t 'flight.landing.time.invalid')
      class="cell"
    }}
  </div>
  <div class="flex-25"/>
  <div class="flex-25">
    {{flight-button-bar locked=flight.locked onExpand=(action 'setExpanded') onLock=(action 'setLocked') onDeleteFlight=(action 'deleteFlight')}}
  </div>
</div>
{{else}}
<div class="layout-row row">
  <div class="flex-75"/>
  <div class="flex-25">
    {{flight-button-bar locked=flight.locked onExpand=(action 'setExpanded') onLock=(action 'setLocked') onDeleteFlight=(action 'deleteFlight')}}
  </div>
</div>
{{/if}}

{{#if expanded}}
<div class="layout-row row">
  {{#paper-select
    placeholder=(t 'flight.cost.sharing.placeholder')
    options=costSharings
    selected=flight.costSharing
    onChange=(action 'updateFlight' 'costSharing')
    class="cell"
    as |costSharing|}}
    {{t costSharing.i18n}}
  {{/paper-select}}
</div>
<div class="layout-row expandable-row">
  <div class="flex">
    {{paper-input textarea=true block=true placeholder=(t 'flight.comment.placeholder') maxlength=300
                  value=comment class="cell" onChange=(action (mut comment)) onBlur=(action 'updateComment')}}
  </div>
</div>
{{/if}}

<div class="layout-row divider-row">
  <div class="flex">
    {{paper-divider}}
  </div>
</div>
