<div class="layout-row row">

  <div class="flex-10">
    {{#paper-select
      placeholder=(t 'flight.call.sign.placeholder')
      options=aircraft
      selected=flight.aircraft
      onChange=(action 'updateFlight' 'aircraft')
      disabled=(not flight.editable)
      class="cell"
      as |aircraft|}}
      {{aircraft.callSign}}
    {{/paper-select}}
  </div>

  <div class="flex-5">
    {{time-input
      time=flight.startTime
      onValid=(action 'updateFlight' 'startTime')
      placeholder='flight.start.time.placeholder'
      missing=(t 'flight.start.time.missing')
      invalid=(t 'flight.start.time.invalid')
      disabled=(not flight.editable)
      class="cell"
    }}
  </div>

  <div class="flex-5">
    {{#paper-select
      placeholder=(t 'flight.start.location.placeholder')
      options=locations
      selected=flight.startLocation
      onChange=(action 'updateFlight' 'startLocation')
      disabled=(not flight.editable)
      class="cell"
      as |location|}}
     {{location.name}}
    {{/paper-select}}
  </div>

  <div class="flex-5">
    {{time-input
      time=flight.landingTime
      onValid=(action 'updateFlight' 'landingTime')
      placeholder='flight.landing.time.placeholder'
      missing=(t 'flight.landing.time.missing')
      invalid=(t 'flight.landing.time.invalid')
      disabled=(not flight.editable)
      class="cell"
    }}
  </div>

  <div class="flex-5">
    {{#paper-select
      placeholder=(t 'flight.landing.location.placeholder')
      options=locations
      selected=flight.landingLocation
      onChange=(action 'updateFlight' 'landingLocation')
      disabled=(not flight.editable)
      class="cell"
      as |location|}}
      {{location.name}}
    {{/paper-select}}
  </div>

  <div class="flex-10">
    {{#paper-select
      placeholder=(t 'flight.pilot.1')
      options=pilots
      selected=flight.pilot1
      searchEnabled=true
      searchField='name'
      onChange=(action 'updateFlight' 'pilot1')
      disabled=(not flight.editable)
      class="cell"
      as |pilot|}}
      {{pilot.name}}
    {{/paper-select}}
  </div>

  <div class="flex-10">
    {{#paper-select
      placeholder=(t 'flight.pilot.role')
      options=pilotRoles
      selected=flight.pilot1Role
      onChange=(action 'updateFlight' 'pilot1Role')
      disabled=(not flight.editable)
      class="cell"
      as |pilotRole|}}
     {{t pilotRole.i18n}}
    {{/paper-select}}
  </div>

  {{#if (is-twinseater flight.aircraft)}}

  <div class="flex-10">
    {{#paper-select
      placeholder=(t 'flight.pilot.2')
      options=pilots
      selected=flight.pilot2
      searchEnabled=true
      searchField='name'
      onChange=(action 'updateFlight' 'pilot2')
      disabled=(not flight.editable)
      class="cell"
      as |pilot|}}
      {{pilot.name}}
    {{/paper-select}}
  </div>

  <div class="flex-10">
    {{#paper-select
      placeholder=(t 'flight.pilot.role')
      options=pilotRoles
      selected=flight.pilot2Role
      onChange=(action 'updateFlight' 'pilot2Role')
      disabled=(not flight.editable)
      class="cell"
      as |pilotRole|}}
     {{t pilotRole.i18n}}
    {{/paper-select}}
  </div>

  {{else}}

  <div class="flex-10"/>
  <div class="flex-10"/>

  {{/if}}

  {{#if flight.aircraft.needsTowing}}

  <div class="flex-10">
    {{#paper-select
      placeholder=(t 'flight.call.sign.tow.plane')
      options=towPlanes
      selected=flight.towPlane
      onChange=(action 'updateFlight' 'towPlane')
      disabled=(not flight.editable)
      class="cell"
      as |aircraft|}}
      {{aircraft.callSign}}
    {{/paper-select}}
  </div>

  <div class="flex-10">
    {{#paper-select
      placeholder=(t 'flight.tow.pilot')
      options=towPilots
      selected=flight.towPilot
      searchEnabled=true
      searchField='name'
      onChange=(action 'updateFlight' 'towPilot')
      disabled=(not flight.editable)
      class="cell"
      as |towPilot|}}
      {{towPilot.name}}
    {{/paper-select}}
  </div>

  <div class="flex-5">
    {{time-input
      time=flight.towPlaneLandingTime
      onValid=(action 'updateFlight' 'towPlaneLandingTime')
      placeholder='flight.landing.time.placeholder'
      missing=(t 'flight.landing.time.missing')
      invalid=(t 'flight.landing.time.invalid')
      disabled=(not flight.editable)
      class="cell"
    }}
  </div>

  {{else}}

  <div class="flex-10"/>
  <div class="flex-10"/>
  <div class="flex-5"/>

  {{/if}}

  <div class="flex-5">
    {{flight-button-bar editable=flight.editable locked=flight.locked today=today
                        onExpand=(action 'setExpanded') onEditable=(action 'setEditable') onLock=(action 'setLocked') onDeleteFlight=(action 'deleteFlight')}}
  </div>
</div>

{{#if expanded}}
<div class="layout-row row">
  <div class="flex-10">
    {{#paper-select
      placeholder=(t 'flight.cost.sharing.placeholder')
      options=costSharings
      selected=flight.costSharing
      onChange=(action 'updateFlight' 'costSharing')
      disabled=(not flight.editable)
      class="cell"
      as |costSharing|}}
      {{t costSharing.i18n}}
    {{/paper-select}}
  </div>
</div>
<div class="layout-row expandable-row">
  <div class="flex">
    {{paper-input textarea=true block=true placeholder=(t 'flight.comment.placeholder') maxlength=300
                  value=comment onChange=(action (mut comment)) onBlur=(action 'updateComment') disabled=(not flight.editable) class="cell"}}
  </div>
</div>
{{/if}}
