{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button iconButton=true}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content width=3 as |content|}}
        {{#content.menu-item disabled=(not session.authorization) onClick=(action 'showAircraft')}}
          {{paper-icon "airplanemode active"}}
          <span>{{t 'menu.aircraft'}}</span>
        {{/content.menu-item}}
        {{#content.menu-item disabled=(not session.authorization) onClick=(action 'showPilots')}}
          {{paper-icon "perm identity"}}
          <span>{{t 'menu.pilots'}}</span>
        {{/content.menu-item}}
        {{#if (eq router.currentRouteName 'start-list')}}
          {{#content.menu-item disabled=(not session.authorization) onClick=(action 'showKtrax')}}
            {{paper-icon "flight takeoff"}}
            <span>{{t 'menu.ktrax'}}</span>
          {{/content.menu-item}}
        {{else}}
          {{#content.menu-item disabled=(not session.authorization) onClick=(action 'showStartList')}}
            {{paper-icon "flight takeoff"}}
            <span>{{t 'menu.logbook'}}</span>
          {{/content.menu-item}}
        {{/if}}
        {{paper-divider}}
        {{#content.menu-item disabled=(not session.authorization) onClick=(action 'downloadPDF')}}
          {{paper-icon "get app"}}
          <span>PDF</span>
        {{/content.menu-item}}
        {{#content.menu-item disabled=(not session.authorization) onClick=(action 'downloadCSV')}}
          {{paper-icon "get app"}}
          <span>CSV</span>
        {{/content.menu-item}}
        {{paper-divider}}
        {{#content.menu-item disabled=(not session.authorization) onClick=(action 'showFeedbackDialog')}}
          {{paper-icon "thumbs up down"}}
          <span>Feedback</span>
        {{/content.menu-item}}
        {{paper-divider}}
        {{#content.menu-item disabled=(not session.authorization) onClick=(action 'logoff')}}
          {{paper-icon "get app"}}
          <span>{{t 'login.logoff'}}</span>
        {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}
    <h2>
      Yaasl
    </h2>
    <span class="flex"/>
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button disabled=(not session.authorization)}}
          {{location.icao}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content as |content|}}
        {{#each locations as |location|}}
        {{#content.menu-item onClick=(action 'setLocation' location)}}
          {{location.icao}} ({{location.name}})
        {{/content.menu-item}}
        {{/each}}
      {{/menu.content}}
    {{/paper-menu}}
    {{#paper-button disabled=(not session.authorization) onClick=(action (mut showDatepicker))}}{{moment-format date 'DD-MM-YYYY'}}{{/paper-button}}
    {{#if showDatepicker}}
      {{pikaday-inputless value=date onSelection=(action 'setDate')}}
    {{/if}}
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button}}
          {{intl.locale}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content as |content|}}
        {{#each intl.locales as |locale|}}
        {{#content.menu-item onClick=(action 'setLocale' locale)}}
          {{locale}}
        {{/content.menu-item}}
        {{/each}}
      {{/menu.content}}
    {{/paper-menu}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
