{{#each sortedFlights as |flight|}}
<div class="layout-row">
  <div class="layout-column layout-align-center-end flex-5">
    {{time-input
      time=flight.startTime
      onValid=(action 'updateFlight' 'startTime' flight)
      placeholder='flight.start.time'
      missing=(t 'flight.start.time.missing')
      invalid=(t 'flight.start.time.invalid')
    }}
  </div>
  <div class="layout-column layout-align-center-end flex-5">
    {{time-input
      time=flight.landingTime
      onValid=(action 'updateFlight' 'landingTime' flight)
      placeholder='flight.landing.time'
      missing=(t 'flight.landing.time.missing')
      invalid=(t 'flight.landing.time.invalid')
    }}
  </div>
  <div class="layout-column layout-align-center-end flex-5">
    {{#paper-select
      placeholder=(t 'flight.call.sign')
      options=aircraft
      selected=flight.aircraft
      onChange=(action 'updateFlight' 'aircraft' flight)
      as |aircraft|}}
      {{aircraft.callSign}}
    {{/paper-select}}
  </div>
  <div class="layout-column layout-align-center-end flex-10">
    {{#paper-select
      placeholder=(t 'flight.pilot.1')
      options=pilots
      selected=flight.pilot1
      searchEnabled=true
      searchField='name'
      onChange=(action 'updateFlight' 'pilot1' flight)
      as |pilot|}}
      {{pilot.name}}
    {{/paper-select}}
  </div>
  {{#if (is-twinseater flight.aircraft)}}
  <div class="layout-column layout-align-center-end flex-10">
    {{#paper-select
      placeholder=(t 'flight.pilot.2')
      options=pilots
      selected=flight.pilot2
      searchEnabled=true
      searchField='name'
      onChange=(action 'updateFlight' 'pilot2' flight)
      as |pilot|}}
      {{pilot.name}}
    {{/paper-select}}
  </div>
  {{/if}}
  <div class="layout-column flex-5" style="margin-top:14px">
    {{#paper-button iconButton=true onClick=(action 'deleteFlight' flight)}}
      {{paper-icon "delete"}}
    {{/paper-button}}
  </div>
</div>
{{/each}}
<div class="layout-column">
<span class="flex"/>
{{#paper-button iconButton=true onClick=(action 'addFlight')}}
  {{paper-icon "add"}}
{{/paper-button}}
</div>
