{{#if (media 'isXs')}}
  <div class="layout-row row" style="margin-top: 20px">
    <div class="flex cell">
      <strong>{{t 'aircraft.overview.title.call.sign'}}</strong>
    </div>
    <div class="flex cell">
      <strong>{{t 'aircraft.overview.title.number.of.seats'}}</strong>
    </div>
  </div>
  {{#each model as |aircraft|}}
    <div class="layout-row row">
      <div class="flex cell">
        {{aircraft.callSign}}
      </div>
      <div class="flex cell">
        {{aircraft.numberOfSeats}}
      </div>
    </div>
  {{/each}}
{{/if}}

{{#if (media 'isMd')}}
  <div class="layout-row row" style="margin-top: 20px">
    <div class="flex"/>
    <div class="flex-20 cell">
      <strong>{{t 'aircraft.overview.title.call.sign'}}</strong>
    </div>
    <div class="flex-20 cell">
      <strong>{{t 'aircraft.overview.title.number.of.seats'}}</strong>
    </div>
    <div class="flex"/>
  </div>
  {{#each model as |aircraft|}}
    <div class="layout-row row">
      <div class="flex"/>
      <div class="flex-20 cell">
        {{aircraft.callSign}}
      </div>
      <div class="flex-20 cell">
        {{aircraft.numberOfSeats}}
      </div>
      <div class="flex"/>
    </div>
  {{/each}}
{{/if}}

{{#if (media 'isLg')}}
  <div class="layout-row row" style="margin-top: 20px">
    <div class="flex"/>
    <div class="flex-10 cell">
      <strong>{{t 'aircraft.overview.title.call.sign'}}</strong>
    </div>
    <div class="flex-10 cell">
      <strong>{{t 'aircraft.overview.title.number.of.seats'}}</strong>
    </div>
    <div class="flex"/>
  </div>
  {{#each model as |aircraft|}}
    <div class="layout-row row">
      <div class="flex"/>
      <div class="flex-10 cell">
        {{aircraft.callSign}}
      </div>
      <div class="flex-10 cell">
        {{aircraft.numberOfSeats}}
      </div>
      <div class="flex"/>
    </div>
  {{/each}}
{{/if}}
