{{#each sortedFlights as |flight|}}
  {{#if (media 'isXs')}}
    <FlightSm @flight={{flight}} @location={{this.model.location}} @locations={{this.model.locations}} @aircraft={{this.model.aircraft}}
              @pilots={{this.model.pilots}} @pilotRoles={{this.model.pilotRoles}} @towPlanes={{this.towPlanes}} @towPilots={{this.towPilots}}
              @costSharings={{this.model.costSharings}} @today={{this.today}} @onFlightChanged={{action this.updateFlight}} @onDeleteFlight={{action this.deleteFlight}}/>
  {{/if}}
  {{#if (media 'isMd')}}
    <FlightMd @flight={{flight}} @location={{this.model.location}} @locations={{this.model.locations}} @aircraft={{this.model.aircraft}}
              @pilots={{this.model.pilots}} @pilotRoles={{this.model.pilotRoles}} @towPlanes={{this.towPlanes}} @towPilots={{this.towPilots}}
              @costSharings={{this.model.costSharings}} today={{this.today}} @onFlightChanged={{action this.updateFlight}} @onDeleteFlight={{action this.deleteFlight}}/>
  {{/if}}
  {{#if (media 'isLg')}}
    <FlightLg @flight={{flight}} @location={{this.model.location}} @locations={{this.model.locations}} @aircraft={{this.model.aircraft}}
              @pilots={{this.model.pilots}} @pilotRoles={{this.model.pilotRoles}} @towPlanes={{this.towPlanes}} @towPilots={{this.towPilots}}
              @costSharings={{this.model.costSharings}} @today={{this.today}} @onFlightChanged={{action this.updateFlight}} @onDeleteFlight={{action this.deleteFlight}}/>
  {{/if}}
{{/each}}

{{#if today}}
  <div class="layout-row add-flight layout-align-begin-center">
    <div class="flex"/>
    {{#if (is-in-role 'fdl' 'admin')}}
      {{#paper-button primary="true" onClick=(action 'lockAllFlights')}}
          {{t 'sortieList.complete'}}
      {{/paper-button}}
    {{/if}}
    <div class="flex"/>
    {{#paper-button iconButton=true raised=true fab=true primary=true mini=true disabled=locked onClick=(action 'addFlight')}}
      {{paper-icon "add"}}
    {{/paper-button}}
  </div>
{{/if}}

{{#if showError}}
  {{#paper-toast class="md-warn" position="bottom left" swipeToClose=true onClose=(action "closeError") as |toast|}}
    {{#toast.text}}
      {{t 'error.backend'}}: {{errorMessage}}
    {{/toast.text}}
  {{/paper-toast}}
{{/if}}
