{{#each sortedFlights as |flight|}}
  <div class="hide-gt-sm">
    {{flight-sm flight=flight location=model.location locations=model.locations aircraft=model.aircraft pilots=model.pilots pilotRoles=model.pilotRoles
                towPlanes=towPlanes towPilots=towPilots costSharings=model.costSharings
                onFlightChanged=(action 'updateFlight') onDeleteFlight=(action 'deleteFlight') today=today}}
  </div>
  <div class="hide-xs hide-sm hide-gt-md">
    {{flight-md flight=flight location=model.location locations=model.locations aircraft=model.aircraft pilots=model.pilots pilotRoles=model.pilotRoles
                towPlanes=towPlanes towPilots=towPilots costSharings=model.costSharings
                onFlightChanged=(action 'updateFlight') onDeleteFlight=(action 'deleteFlight') today=today}}
  </div>
  <div class="hide-xs hide-sm hide-md">
    {{flight-lg flight=flight location=model.location locations=model.locations aircraft=model.aircraft pilots=model.pilots pilotRoles=model.pilotRoles
                towPlanes=towPlanes towPilots=towPilots costSharings=model.costSharings
                onFlightChanged=(action 'updateFlight') onDeleteFlight=(action 'deleteFlight') today=today}}
  </div>
{{/each}}

{{#if today}}
  <div class="layout-row add-flight layout-align-begin-center">
    <div class="flex"/>
    {{#if (is-in-role 'fdl' 'admin')}}
      {{#paper-button primary="true" onClick=(action 'lockAllFlights')}}
        Abschliessen
      {{/paper-button}}
    {{/if}}
    <div class="flex"/>
    {{#paper-button iconButton=true raised=true fab=true primary=true mini=true disabled=locked onClick=(action 'addFlight')}}
      {{paper-icon "add"}}
    {{/paper-button}}
  </div>
{{/if}}

{{#if showError}}
  {{#paper-toast class="md-warn" position="bottom left" swipeToClose=true onClose=(action "closeError") as |toast|}}
    {{#toast.text}}
      {{t 'error.backend'}}: {{errorMessage}}
    {{/toast.text}}
  {{/paper-toast}}
{{/if}}
